<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
<div class="col-md-6 col-sm-6">
            <div class="friend-card">
              <img src="" alt="profile-cover" class="img-responsive cover" />
              <div class="card-info">
                <img src="" alt="user" class="profile-photo-lg" />
                <div class="friend-info">
                  <a href="" class="pull-right text-green">My Friend</a>
                  <h5><a href="" class="profile-link"></a></h5>
                  <p title="" style="cursor:pointer;"></p>
                </div>
              </div>
            </div>
          </div>
</body>
</html>